.mainmediabody {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch
}

.media {
    width: 400px;
    height: 300px;
    margin: auto;
    padding: 30px;
}