body {
  font-family: 'Source Sans Pro', sans-serif;
}

h1 {
  font-size: 20pt;
}

h3 {
  font-weight: bold;
}

p {
  font-weight: lighter;
  font-size: 16px;
}

p.subtext {
  font-size: 14px;

}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -2;
}

.box {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  right: 0;
  bottom: 0;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Add some content at the bottom of the video/page */
.content {
  bottom: 0;

  color: #f1f1f1;
  width: 100%;
  padding-top: 60px;
  padding-left: 20px;
}

.logo {
width: 30%;
}

.logo_box {
  display: flex;
  justify-content: center;
  padding-top: 70px;
}

.aboutbackgroundimage {
  background-image: url("https://images.unsplash.com/photo-1437502920657-db9708bfe2ef?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2468&q=80");
  background-repeat: no-repeat;
  background-position: center top;
}

/* Creates top bar navigation, white text */
ul.topnav {
  padding: 10px 0px 10px 0px;
  align-items: baseline;
  text-align: center;
}

.topnav a {
  color: white;
  text-decoration: none;
}

li.topnav {
  display: inline;
  padding: 10px 80px 10px 80px;
  }

body{margin: 0px;
}

/*Top bar nav but in black, wrapper div and logo div styles - Hannah 1.12.19*/
ul.topnavblack {
  padding: 10px 0px 10px 0px;
  align-items: baseline;
  text-align: center;
  background-color: white;
}

.topnavblack a {
  color: black;
  text-decoration: none;
  font-weight: lighter;
}

li.topnavblack {
     display: inline;
     margin: 10px 80px 10px 80px;
   }

ul.topnavblack:hover {
    background-color: lightgrey;
    /* margin-inline-start: 30px;
    margin-inline-end: 30px; */
    /* The above margin inlines were making the items 'jump' when hovered over. SH */
  }

.topnavblack a:hover {
  color: white;
  font-weight: lighter;
}

/* Makes top nav sticky */
.topnavblack {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}


.wrapper {
  padding-top: 10px;
  padding-right: 15%;
  padding-bottom: 10px;
  padding-left: 15%;
}


.logoblack {
  width: 200px;
  height: auto;
  padding-top: 0px;
  padding-right: 20px;
  padding-bottom: 0px;
  padding-left: 20px;
}

.logoblack img {
  width: 200px;
  height: auto;
  padding-top: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}

.banffyoutube {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}




   /*end HT*/
   /*end HT*/


  .social-footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 20px;
  text-align: center;
  justify-content: center;
}

.fa {
  padding: 12px;
  margin-right: 10px;
  margin-left: 10px;
  font-size: 40px;
  width: 15px;
  height: 15px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  justify-content: space-around;
}

.fa:hover {
  opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.values{
width: 300px;
height: 200px;
padding: 0 20px;
transition: .5s ease;
opacity: 0.3;
}

.values:hover{
  transition: .5s ease;
  opacity: 1;
  rotate:  10deg);
}


.aboutvalues{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
    flex-direction: row;
}