/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}


/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.aboutbackgroundimage {
  background-image: url("https://www.nasa.gov/sites/default/files/thumbnails/image/twaharpiesrange_2018_lrg.jpeg");
}
/* Creates top bar navigation, inline styling. To be improved! SH */
ul.topnav {
  padding: 10px 0px 10px 0px;
  align-items: baseline;
  text-align: center;
  color: #7f8ea3;
}

li.topnav {
     display: inline;
     padding: 10px 80px 10px 80px;
     font-family: sans-serif;
   }
/* End of SH edit 18.11.19 */
